version: '3.8'

services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: potok-gateway
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      NODE_ENV: development
      PORT: 3001
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev
    restart: unless-stopped
