version: '3.8'

services:
  state-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: potok-state-service
    ports:
      - "3002:3002"
    env_file:
      - .env
    environment:
      NODE_ENV: development
      PORT: 3002
      TIMEZONE: Europe/Moscow
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev
    restart: unless-stopped
