version: '3.8'

services:
  task-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: potok-task-service
    ports:
      - "3003:3003"
    env_file:
      - .env
    environment:
      NODE_ENV: development
      PORT: 3003
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev
    restart: unless-stopped
